services:
  tor:
    image: svengo/tor:latest
    build: .
    environment:
      - ORPORT=9001
      - DIRPORT=9030
      - CONTROLPORT=9051
      - HASHEDCONTROLPASSWORD=16:872860B76453A77D60CA2BB8C1A7042072093276A3D701AD684053EC4C
      - NICKNAME=ididnteditheconfig
      - CONTACTINFO=Random Person <nobody AT example dot com>
      # - MYFAMILY=
      # - ADDRESS=
    ports:
      - 9001:9001
      - 9030:9030
    volumes:
      - data:/data
    restart: unless-stopped

volumes:
  data:
