services:
  daemon:
    image: bpawnzz/tor:v2
    env_file:
      - .env
    environment:
      - ORPORT=${ORPORT}
      - DIRPORT=${DIRPORT}
      - CONTROLPORT=${CONTROLPORT}
      - HASHEDCONTROLPASSWORD=${HASHEDCONTROLPASSWORD}
      - NICKNAME=${TOR_NICKNAME}
      - CONTACTINFO=${CONTACT_INFO}
      - EXITPOLICY=${EXITPOLICY}
    ports:
      - 9001:9001
      - 9030:9030
      - 9050:9050
    volumes:
      - ./tor:/data
    restart: unless-stopped
    networks:
      - tor_default

networks:
  tor_default:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 172.26.0.0/16
        - subnet: fd4d:1111:2222:3334::/64
