# env.example
# copy to .env and modify to your needs

# 
# Tor Configuration
#
NICKNAME=ididnteditheconfig
CONTACTINFO=Random Person <nobody AT example dot com>

#
# Network Configuration
#
ORPORT=9001
DIRPORT=9030
CONTROLPORT=9051

# 
# Security Settings
#
EXITPOLICY=reject *:*

#
# Additional Configuration
#
# Generate hashed password with `docker run svengo/tor:latest tor --hash-password "your_password"`
HASHEDCONTROLPASSWORD=
# requires manual port mapping in docker-compose.yml if host access is needed)
SOCKS_PORT=
SOCKS_POLICY=
MYFAMILY=
ADDRESS=
RELAY_BANDWIDTH_RATE=
RELAY_BANDWIDTH_BURST=
