name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Checkout
      uses: actions/checkout@v4
    -       
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - 
      name: Update Docker Hub description
      uses: peter-evans/dockerhub-description@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: ${{ vars.IMAGE_NAMESPACE }}/${{ vars.IMAGE_NAME }}
        short-description: ${{ github.event.repository.description }}
    - 
      name: Build Docker meta data
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ vars.IMAGE_NAMESPACE }}/${{ vars.IMAGE_NAME }}
        flavor: | 
          latest=${{ github.event_name == 'release' && github.event.release.prerelease == false }}
        tags: |
          type=match,pattern=v(.*),group=1
          type=sha
    -
      name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        
