name: Build and Publish Docker Image

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Checkout
      uses: actions/checkout@v4
    -       
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - 
      name: Update Docker Hub description
      uses: peter-evans/dockerhub-description@dc67fad7001ef9e8e3c124cb7a64e16d0a63d864
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}
        short-description: ${{ github.event.repository.description }}
    - 
      name: Build Docker meta data
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}
        flavor: | 
          latest=${{ github.event_name == 'release' && github.event.release.prerelease == false }}
        tags: |
          type=match,pattern=v(.*),group=1
          type=sha
    -
      name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - 
      name: Generate job summary
      id: job-summary
      run: |
        {
          IFS=$'\n'
          echo "### Docker metadata"
          echo "#### Docker Labels"
          echo '```'
          for LINE in ${DOCKER_METADATA_OUTPUT_LABELS}; do echo "${LINE}"; done
          echo '```'
          echo ""
          echo "#### Docker tags"
          echo '```'
          for LINE in ${DOCKER_METADATA_OUTPUT_TAGS}; do echo "${LINE}"; done
          echo '```'
        } >> $GITHUB_STEP_SUMMARY
